* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.navbar {
  height: 50px;
  width: 100%;
  background-color: saddlebrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-radius: 10px;
}

h1 img {
  width: 85px;
  height: 50px;
  cursor: pointer;
}
.menu {
  display: flex;
  cursor: pointer;
}
.menuitems {
  padding: 10px 20px;
}
.menuitem:hover {
  background-color: brown;
}
.mainbox {
  display: flex;
  border: 2px solid black;
}
.leftbox {
  height: 500px;
  width: 50%;
  background-color: saddlebrown;
}
.leftbox p1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(182, 166, 166);
  padding: 70px;
  position: absolute;
  top: 70px;
}
.leftbox p2 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(2, 1, 0);
  padding: 70px;
  position: absolute;
  top: 100px;
  font-size: 500%;
}
.leftbox p3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(2, 1, 0);
  padding: 70px;
  position: absolute;
  top: 300px;
  font-size: larger;
}
.leftbox p4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(2, 1, 0);
  padding: 70px;
  position: absolute;
  top: 400px;
}
.leftbox p4 button {
  color: aliceblue;
  background-color: black;
  width: 100px;
  height: 30px;
}
.leftbox p4 button:hover {
  color: black;
  background-color: blueviolet;
}

.rightbox {
  height: 500px;
  width: 50%;
  border: 0px solid violet;
}
.rightbox img {
  height: 100%;
  width: 100%;
}
.midbox {
  display: flex;
}
.midbox1 {
  width: 50%;
  height: 150px;
  padding: 50px 50px;
}
.midbox2 {
  width: 50%;
  height: 150px;
  padding: 50px 50px;
}
.midbox1 p5 {
  font-size: 450%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.midbox2 p5 {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sevices {
  width: 100%;
  height: 270px;
  display: flex;
  padding: 50px 50px;
  gap: 10px;
}
.ser1,
.ser2,
.ser3 {
  width: 34%;
  height: 270px;
  border: 1px solid gray;
  border-radius: 10px;
}
.ser1 img,
.ser2 img,
.ser3 img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 30px;
  left: 50px;
}
p6,
p7,
p8 {
  position: relative;
  top: 70px;
  left: 50px;
}
p6 span,
p7 span,
p8 span {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
}
p6 button,
p7 button,
p8 button {
  position: relative;
  top: 50px;
  padding: 10px 10px;
  background-color: saddlebrown;
}
p6 button:hover,
p7 button:hover,
p8 button:hover {
  background-color: rgb(0, 0, 0);
  color: brown;
}
.ser1.img10,
.ser2.img20,
.ser3.img30 {
  width: 100px;
  height: 100px;
}
.philosphy {
  width: 100%;
  height: 410px;
  border: 1px solid black;
  position: relative;
  top: 120px;
  display: flex;
  background: saddlebrown;
}
.div1 {
  width: 85px;
  height: 375px;
  /* border: 1px solid black; */
  background-color: saddlebrown;
}
.div2 img {
  height: 375px;
  width: 400px;
  border-radius: 20px;
  margin-top: 15px;
}
.div3 {
  padding-left: 50px;
}
.header01,
.header02 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
}
p9,
p10,
p11 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.pricing {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  background-color: saddlebrown;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.bbox1,
.bbox2,
.bbox3 {
  width: 300px;
  height: 360px;
  background: white;
  border: 2px solid black;
  padding-left: 10px;
  position: relative;
  top: 100px;
  text-align: center;
  padding-top: 15px;
}
.bbox1 button:hover,
.bbox2 button:hover,
.bbox3 button:hover {
  color: white;
  background-color: black;
}
.pb {
  border: 1px solid black;
  border-radius: 50px;
}
.b700 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  color: saddlebrown;
}
.get {
  background-color: saddlebrown;
  color: white;
  padding: 8px;
}
.project {
  width: 100%;
  height: 415px;
  border: 3px solid black;
  position: relative;
  top: 400px;
  display: flex;
  justify-content: space-between;
  background: saddlebrown;
}

.proj1,
.proj2,
.proj3,
.proj4 {
  width: 350px;
  height: 405px;
  padding: 10px 10px;
}
.project img {
  width: 300px;
  height: 360px;
  overflow: hidden;
}
.proj1 img:hover,
.proj2 img:hover,
.proj3 img:hover,
.proj4 img:hover {
  width: 500px;
  height: 500px;
}

.overlay {
  background-color: saddlebrown;
  color: aliceblue;
}
.company {
  width: 100%;
  height: 500px;
  background-color: saddlebrown;
  position: relative;
  top: 500px;
  display: flex;
}
.place1 {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 900%;
  text-decoration: underline;
}
.companies {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}
.companies img {
  width: 200px;
  height: 150px;
  padding: 10px;
}
.placements {
  width: 100%;
  height: 600px;
  background-color: saddlebrown;
  position: relative;
  top: 600px;
  display: flex;
}
.placephoto {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}
.placephoto img {
  width: 100%;
  height: 100%;
}
.empty {
  width: 50px;
  height: 100%;
  background-color: azure;
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p12,
p14,
p16 {
  font-size: 50px;
  padding: 50px;
}
p13,
p15,
p17 {
  font-size: 30px;
  padding: 50px;
}
.infohead {
  width: 100%;
  height: 100px;
  color: aliceblue;
  font-size: 70px;
  position: absolute;
  left: 800px;
}
.form {
  width: 100%;
  height: 30px;
  background-color: saddlebrown;
  border: 1px solid black;
}
.drop {
  position: absolute;
  top: 40px;
  display: none;
  left: 0;
}
.menuitem:hover .drop {
  display: block;
}
.drop li {
  padding: 8px 12px;
  background-color: bisque;
  border-bottom: 1px solid grey;
}
.drop li:hover {
  background-color: brown;
}
